body {
  font-family: "Arial, sans-serif";
  margin: 0;
  overflow: hidden;
}
.container {
  display: grid;
  width: 100vw;
  height: 100vw;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}

/* Left or upper info */
.left {
  height: 100%;
  background-color: #faf3dd;
}
.info {
  margin-top: 50%;
  margin-left: 5%;
}
.intro {
  font-family: "Courier New", Courier, monospace;
}
#ms-twitter-link {
  text-decoration: none;
  color: rgb(112, 159, 212);
}
#ms-twitter-link:hover {
  color: rgb(56, 87, 122);
}
.img-link {
  max-width: 50px;
}
.img-link:hover {
  filter: invert(100%);
}
/* Right or upper info */
.right {
  background-color: #aed9e0;
  text-align: center;
}
#vscode {
  margin-top: 15%;
}
#vscode-img:hover {
  box-shadow: 20px 20px 45px rgb(71, 69, 69);
  filter: invert(100%);
}
#vscode-img {
  box-shadow: 20px 20px 40px rgb(71, 69, 69);
  max-width: 90%;
}
.code-label {
  margin-left: 5%;
  max-width: 89%;
  text-align: left;
  font-family: monospace;
  color: #fff;
  background-color: rgb(45, 45, 46);
  border-radius: 2px;
  padding-left: 1%;
  padding-bottom: 0.3%;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }
  #vscode-img:hover {
    box-shadow: 20px 20px 45px rgb(71, 69, 69);
    max-width: 91%;
    margin-left: -0.5%;
  }
  .right {
    min-height: 800px;
  }
  .left {
    min-height: 500px;
  }
  .info {
    margin-top: 20%;
    margin-left: 5%;
  }
  body {
    overflow: scroll;
  }
}
