<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Johan Bragner - Consultant | Microsoft | Developer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Johan Bragner's personal website. Info and posts about development, .NET Core, Python, Azure"
    />
    <link rel="canonical" href="https://bragner.github.io/" />
    <link rel="stylesheet" href="main.css" />
    <link rel="icon" type="image/png" href="img/favicon.ico" />
  </head>
  <body>
    <div role="main" class="container">
      <div class="left">
        <div class="info">
          <h1>
            HI.
            <br />
            I'M A DEVELOPER.
          </h1>
          <div class="intro">
            Currently working at
            <a
              target="_blank"
              id="ms-twitter-link"
              href="http://twitter.com/microsoft"
              >Microsoft</a
            >.
            <br />
            <br />
            <a target="_blank" href="https://www.linkedin.com/in/johan-bragner/"
              ><img
                alt="LinkedIn Logo as link to profile"
                class="img-link"
                src="img/li-logo.webp"
            /></a>
            <a target="_blank" href="https://github.com/bragner"
              ><img
                alt="GitHub Logo as link to profile"
                class="img-link"
                src="img/github-logo.webp"
            /></a>
          </div>
        </div>
      </div>
      <div class="right">
        <div id="vscode">
          <p class="code-label">
            johan@dev:~$ git commit -m "Work in progress..."
            <span id="line">|</span>
            <script>
              let lineVisible = true;
              var speed = 500;
              setInterval(() => {
                if (lineVisible) {
                  document.getElementById("line").style.opacity = 0;
                  lineVisible = false;
                } else {
                  document.getElementById("line").style.opacity = 1;
                  lineVisible = true;
                }
              }, speed);
            </script>
          </p>
          <a target="_blank" href="https://github.com/bragner/spotify-lang-mix"
            ><img
              alt="Visual Studio Code snapshot of current project"
              id="vscode-img"
              src="img/vscode2.webp"
          /></a>
        </div>
        <div>
          {% for post in site.posts %}

          <a href="{{ post.url }}">{{ post.title }}</a>
          <br />
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
